CORS_ALLOW_ALL_ORIGINS=true
CORS_ORIGIN_ALLOW_ALL=True
SECRET_KEY=
DJANGO_DEBUG=False

POSTRGRESQL_DB=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_SCHEMA=public

MIRO_ACCESS_TOKEN=
MIRO_BOARD_ID=

# Almacenamiento S3 (vacío = filesystem local)
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_PRELOAD_METADATA=
AWS_LOCATION=
AWS_MEDIA_LOCATION=
AWS_DEFAULT_ACL=
AWS_S3_CUSTOM_DOMAIN=
AWS_STATIC_LOCATION=
AWS_S3_FILE_OVERWRITE=
URL_AMAZON_S3_FILES_UPLOADED=
AWS_IS_GZIPPED=
GZIP_CONTENT_TYPES=
COMPRESS_URL=
STATIC_URL=
STATIC_ROOT=
